@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gray-500 {
  color: #6b7280; /* Tailwind gray-500 color */
}

.highlight {
  color: #fbbf24; /* Highlight color (e.g., Tailwind yellow-400) */
  transition: color 0.3s ease-in-out;
}